# Índice

1. [Exploración inicial y preparación de los datos](#Exploración-inicial-y-preparación-de-los-datos)
2. [PRUEBA](#PRUEBA)

## Exploración inicial y preparación de los datos

In [225]:
#Importamos las librerias necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [226]:
#Creamos los DataFrames
df_energia = pd.read_csv("./data/energy_dataset.csv")
df_meteo = pd.read_csv("./data/weather_features.csv")

Comenzamos viendo el DataFrame asociado a la generación de energía

In [227]:
df_energia.head(5)

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [228]:
df_energia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  object
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: float64(28), object(1)
memory usage: 7.8+ MB

Convertimos el tipo de la columna <time> al formato adecuado

In [229]:
df_energia["time"] = pd.to_datetime(df_energia["time"], utc=True)
df_energia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 29 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  datetime64[ns, UTC]
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null      float64
 11  generation hydro pumped storage consumption  35045 non-null  float64
 12  generation hydro run-of-river and poundage   35045 non-null  float64
 13  generation hydro water reservoir             35046 non-null  float64
 14  generation marine                            35045 non-null  float64
 15  generation nuclear                           35047 non-null  float64
 16  generation other                             35046 non-null  float64
 17  generation other renewable                   35046 non-null  float64
 18  generation solar                             35046 non-null  float64
 19  generation waste                             35045 non-null  float64
 20  generation wind offshore                     35046 non-null  float64
 21  generation wind onshore                      35046 non-null  float64
 22  forecast solar day ahead                     35064 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null      float64
 24  forecast wind onshore day ahead              35064 non-null  float64
 25  total load forecast                          35064 non-null  float64
 26  total load actual                            35028 non-null  float64
 27  price day ahead                              35064 non-null  float64
 28  price actual                                 35064 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(28)
memory usage: 7.8 MB

Para el propósito del presente EDA no necesitaremos ciertas columnas, por lo que las eliminamos del DataFrame
1. La columna "generation hydro pumped storage aggregated" solo contiene nulos, así que la eliminamos
2. Eliminamos también las columnas de previsiones

In [230]:
columnas_eliminar = ["generation hydro pumped storage aggregated","forecast solar day ahead","forecast wind offshore eday ahead","forecast wind onshore day ahead","total load forecast", "price day ahead"]
df_energia.drop(columns=columnas_eliminar,inplace=True)
df_energia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 23 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35064 non-null  datetime64[ns, UTC]
 1   generation biomass                           35045 non-null  float64
 2   generation fossil brown coal/lignite         35046 non-null  float64
 3   generation fossil coal-derived gas           35046 non-null  float64
 4   generation fossil gas                        35046 non-null  float64
 5   generation fossil hard coal                  35046 non-null  float64
 6   generation fossil oil                        35045 non-null  float64
 7   generation fossil oil shale                  35046 non-null  float64
 8   generation fossil peat                       35046 non-null  float64
 9   generation geothermal                        35046 non-null  float64
 10  generation hydro pumped storage consumption  35045 non-null  float64
 11  generation hydro run-of-river and poundage   35045 non-null  float64
 12  generation hydro water reservoir             35046 non-null  float64
 13  generation marine                            35045 non-null  float64
 14  generation nuclear                           35047 non-null  float64
 15  generation other                             35046 non-null  float64
 16  generation other renewable                   35046 non-null  float64
 17  generation solar                             35046 non-null  float64
 18  generation waste                             35045 non-null  float64
 19  generation wind offshore                     35046 non-null  float64
 20  generation wind onshore                      35046 non-null  float64
 21  total load actual                            35028 non-null  float64
 22  price actual                                 35064 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(22)
memory usage: 6.2 MB

Evaluamos el porcentaje de valores nulos en cada columna para decidir cómo tratarlos

In [231]:
columna_maximo = ""
porcentaje_maximo = 0

for columna in df_energia.columns:
    porcentaje_nulos = (df_energia[columna].isna().sum()/len(df_energia))*100
    print(f"el porcentaje de nulos de la columna {columna} es: {porcentaje_nulos.round(2)}%")
    if porcentaje_nulos > porcentaje_maximo:
        columna_maximo = columna
        porcentaje_maximo = porcentaje_nulos

if columna_maximo !="":
    print(f"\nEl máximo porcentaje de nulos se da en la columna '{columna_maximo}' y es un {porcentaje_maximo.round(2)}%")
else:
    print("Ninguna columna tiene valores nulos")

el porcentaje de nulos de la columna time es: 0.0%
el porcentaje de nulos de la columna generation biomass es: 0.05%
el porcentaje de nulos de la columna generation fossil brown coal/lignite es: 0.05%
el porcentaje de nulos de la columna generation fossil coal-derived gas es: 0.05%
el porcentaje de nulos de la columna generation fossil gas es: 0.05%
el porcentaje de nulos de la columna generation fossil hard coal es: 0.05%
el porcentaje de nulos de la columna generation fossil oil es: 0.05%
el porcentaje de nulos de la columna generation fossil oil shale es: 0.05%
el porcentaje de nulos de la columna generation fossil peat es: 0.05%
el porcentaje de nulos de la columna generation geothermal es: 0.05%
el porcentaje de nulos de la columna generation hydro pumped storage consumption es: 0.05%
el porcentaje de nulos de la columna generation hydro run-of-river and poundage es: 0.05%
el porcentaje de nulos de la columna generation hydro water reservoir es: 0.05%
el porcentaje de nulos de la columna generation marine es: 0.05%
el porcentaje de nulos de la columna generation nuclear es: 0.05%
el porcentaje de nulos de la columna generation other es: 0.05%
el porcentaje de nulos de la columna generation other renewable es: 0.05%
el porcentaje de nulos de la columna generation solar es: 0.05%
el porcentaje de nulos de la columna generation waste es: 0.05%
el porcentaje de nulos de la columna generation wind offshore es: 0.05%
el porcentaje de nulos de la columna generation wind onshore es: 0.05%
el porcentaje de nulos de la columna total load actual es: 0.1%
el porcentaje de nulos de la columna price actual es: 0.0%

El máximo porcentaje de nulos se da en la columna 'total load actual' y es un 0.1%

Para la columna con mayor porcentaje de nulos, éstos sólo suponen un 0,1% . A la luz de este resultado, podemos eliminar del DataFrame cualquier fila que contenga algún nulo sin provocar un sesgo importante

In [232]:
df_energia.dropna(how="any",inplace=True)
df_energia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35017 entries, 0 to 35063
Data columns (total 23 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   time                                         35017 non-null  datetime64[ns, UTC]
 1   generation biomass                           35017 non-null  float64
 2   generation fossil brown coal/lignite         35017 non-null  float64
 3   generation fossil coal-derived gas           35017 non-null  float64
 4   generation fossil gas                        35017 non-null  float64
 5   generation fossil hard coal                  35017 non-null  float64
 6   generation fossil oil                        35017 non-null  float64
 7   generation fossil oil shale                  35017 non-null  float64
 8   generation fossil peat                       35017 non-null  float64
 9   generation geothermal                        35017 non-null  float64
 10  generation hydro pumped storage consumption  35017 non-null  float64
 11  generation hydro run-of-river and poundage   35017 non-null  float64
 12  generation hydro water reservoir             35017 non-null  float64
 13  generation marine                            35017 non-null  float64
 14  generation nuclear                           35017 non-null  float64
 15  generation other                             35017 non-null  float64
 16  generation other renewable                   35017 non-null  float64
 17  generation solar                             35017 non-null  float64
 18  generation waste                             35017 non-null  float64
 19  generation wind offshore                     35017 non-null  float64
 20  generation wind onshore                      35017 non-null  float64
 21  total load actual                            35017 non-null  float64
 22  price actual                                 35017 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(22)
memory usage: 6.4 MB

Categorizamos la energía generada en cuatro grandes tipos:
* Energía fósil
* Energía renovable
* Energía nuclear
* Otro tipo de energía

Creamos cuatro nuevas columnas con la suma de la energía generada por tipos y eliminamos las columnas originales tras la suma

In [233]:
df_energia["energia_fosil_generada"] = df_energia["generation fossil brown coal/lignite"] + df_energia["generation fossil coal-derived gas"] \
                                    + df_energia["generation fossil gas"] + df_energia["generation fossil hard coal"] + df_energia["generation fossil oil"] \
                                    + df_energia["generation fossil oil shale"] + df_energia["generation fossil peat"]
                                    
df_energia["energia_renovable_generada"] = df_energia["generation biomass"] + df_energia["generation geothermal"] + df_energia["generation hydro pumped storage consumption"] \
                                        + df_energia["generation hydro run-of-river and poundage"] + df_energia["generation hydro water reservoir"] \
                                        + df_energia["generation marine"] + df_energia["generation other renewable"] + df_energia["generation solar"] \
                                        + df_energia["generation waste"] + df_energia["generation wind offshore"] + df_energia["generation wind onshore"]
                                        
df_energia["energia_nuclear_generada"] = df_energia["generation nuclear"]

df_energia["energia_otros_generada"] = df_energia["generation other"]

In [234]:
columnas_eliminar = ["generation fossil brown coal/lignite","generation fossil coal-derived gas","generation fossil gas","generation fossil hard coal","generation fossil oil",\
                    "generation fossil oil shale","generation fossil peat","generation biomass","generation geothermal","generation hydro pumped storage consumption",\
                    "generation hydro run-of-river and poundage","generation hydro water reservoir","generation marine","generation other renewable","generation solar",\
                    "generation waste","generation wind offshore","generation wind onshore","generation nuclear","generation other"]

df_energia.drop(columns=columnas_eliminar,inplace=True)

#Renombramos el resto de columnas con su nombre en español
df_energia.rename(columns={"time":"fecha_hora_UTC", "total load actual":"demanda_energia","price actual":"precio_energia"}, inplace=True)
df_energia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35017 entries, 0 to 35063
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fecha_hora_UTC              35017 non-null  datetime64[ns, UTC]
 1   demanda_energia             35017 non-null  float64
 2   precio_energia              35017 non-null  float64
 3   energia_fosil_generada      35017 non-null  float64
 4   energia_renovable_generada  35017 non-null  float64
 5   energia_nuclear_generada    35017 non-null  float64
 6   energia_otros_generada      35017 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(6)
memory usage: 2.1 MB

Continuamos con el DataFrame asociado a las condiciones climáticas de varias ciudades de España

# PRUEBA